<ion-view view-title="Chat">
    <ion-content>
        <!--<div class="bar bar-header actu_header">
            <button class="button button-icon icon ion-navicon actu_button">
            </button>
            <p class="text_chat">
                Chats
            </p>
        </div>-->
        <div class="chat_content">
            <div class="chat_box">
                <div class="chat_box_content">
                    <div class="img_chat">
                        <img src="../img/default_pic.jpg">
                    </div>
                    <h3 class="chat_box_title">
                        Alexandre Lolivier
                    </h3>
                    <h3 class="chat_box_time">
                        19:43
                    </h3>
                    <p class="chat_box_preview">
                        Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. 
                    </p>
                </div>
            </div>
            <div class="chat_box">
                <div class="chat_box_content">
                    <div class="img_chat">
                        <img src="../img/default_pic.jpg">
                    </div>
                    <h3 class="chat_box_title">
                        Alexandre Lolivier
                    </h3>
                    <h3 class="chat_box_time">
                        19:43
                    </h3>
                    <p class="chat_box_preview">
                        Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. 
                    </p>
                </div>
            </div>
            <div class="chat_box">
                <div class="chat_box_content">
                    <div class="img_chat">
                        <img src="../img/default_pic.jpg">
                    </div>
                    <h3 class="chat_box_title">
                        Alexandre Lolivier
                    </h3>
                    <h3 class="chat_box_time">
                        19:43
                    </h3>
                    <p class="chat_box_preview">
                        Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. 
                    </p>
                </div>
            </div>
            <div class="chat_box">
                <div class="chat_box_content">
                    <div class="img_chat">
                        <img src="../img/default_pic.jpg">
                    </div>
                    <h3 class="chat_box_title">
                        Alexandre Lolivier
                    </h3>
                    <h3 class="chat_box_time">
                        19:43
                    </h3>
                    <p class="chat_box_preview">
                        Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. 
                    </p>
                </div>
            </div>
            <div class="chat_box">
                <div class="chat_box_content">
                    <div class="img_chat">
                        <img src="../img/default_pic.jpg">
                    </div>
                    <h3 class="chat_box_title">
                        Alexandre Lolivier
                    </h3>
                    <h3 class="chat_box_time">
                        19:43
                    </h3>
                    <p class="chat_box_preview">
                        Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. 
                    </p>
                </div>
            </div>
            <div class="chat_box">
                <div class="chat_box_content">
                    <div class="img_chat">
                        <img src="../img/default_pic.jpg">
                    </div>
                    <h3 class="chat_box_title">
                        Alexandre Lolivier
                    </h3>
                    <h3 class="chat_box_time">
                        19:43
                    </h3>
                    <p class="chat_box_preview">
                        Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. 
                    </p>
                </div>
            </div>
            <div class="chat_box">
                <div class="chat_box_content">
                    <div class="img_chat">
                        <img src="../img/default_pic.jpg">
                    </div>
                    <h3 class="chat_box_title">
                        Alexandre Lolivier
                    </h3>
                    <h3 class="chat_box_time">
                        19:43
                    </h3>
                    <p class="chat_box_preview">
                        Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. 
                    </p>
                </div>
            </div>
            <div class="chat_box">
                <div class="chat_box_content">
                    <div class="img_chat">
                        <img src="../img/default_pic.jpg">
                    </div>
                    <h3 class="chat_box_title">
                        Alexandre Lolivier
                    </h3>
                    <h3 class="chat_box_time">
                        19:43
                    </h3>
                    <p class="chat_box_preview">
                        Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. 
                    </p>
                </div>
            </div>
            <div class="chat_box">
                <div class="chat_box_content">
                    <div class="img_chat">
                        <img src="../img/default_pic.jpg">
                    </div>
                    <h3 class="chat_box_title">
                        Alexandre Lolivier
                    </h3>
                    <h3 class="chat_box_time">
                        19:43
                    </h3>
                    <p class="chat_box_preview">
                        Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. 
                    </p>
                </div>
            </div>
            <div class="chat_box">
                <div class="chat_box_content">
                    <div class="img_chat">
                        <img src="../img/default_pic.jpg">
                    </div>
                    <h3 class="chat_box_title">
                        Alexandre Lolivier
                    </h3>
                    <h3 class="chat_box_time">
                        19:43
                    </h3>
                    <p class="chat_box_preview">
                        Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. Ici on met du text de merde. 
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
  <!-- <div class="tab_container">
        <ion-tabs class="tab_general tabs-icon-top">
            <ion-tab title="Accueil" icon-on="accueilActive" icon-off="accueilActive" ui-sref="#/profil/{{user.id}}">
                <ion-nav-view name="home">
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Mes Foots"  icon-on="foots" icon-off="foots"  ui-sref="help">
                <ion-nav-view name="help">
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Mes Amis" icon-on="amis" icon-off="amis"  ui-sref="help">
                <ion-nav-view name="help">
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Chats" icon-on="chats" icon-off="chats"  ui-sref="help">
                <ion-nav-view name="help">
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Notifications" icon-on="notif" icon-off="notif" ui-sref="help">
                <ion-nav-view name="help">
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </div> -->
</ion-view>