<ion-view view-title="Chat">
<ion-content class="has-header has-footer">
<!--<div class="padding">-->
<div ng-repeat="chatDisplay in chatsDisplay | orderBy: '-lastTime'">
<div class="chat_box" ng-click="launchChat(chatDisplay.id)">
        <div class="chat_box_content">
            <div class="img_chat">
                <img ng-src="img/default_pic.jpg">
            </div>
            <h3 class="chat_box_title">
                {{chatDisplay.user}}
            </h3>
            <h3 class="chat_box_time">
                {{chatDisplay.lastTime}}
            </h3>
            <p class="chat_box_preview">
                {{chatDisplay.lastMessage}}</p>
            </div>
        </div>
    </div>
</ion-content>
  <!-- <div class="tab_container">
        <ion-tabs class="tab_general tabs-icon-top">
            <ion-tab title="Accueil" icon-on="accueilActive" icon-off="accueilActive" ui-sref="#/profil/{{user.id}}">
                <ion-nav-view name="home">
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Mes Foots"  icon-on="foots" icon-off="foots"  ui-sref="help">
                <ion-nav-view name="help">
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Mes Amis" icon-on="amis" icon-off="amis"  ui-sref="help">
                <ion-nav-view name="help">
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Chats" icon-on="chats" icon-off="chats"  ui-sref="help">
                <ion-nav-view name="help">
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Notifications" icon-on="notif" icon-off="notif" ui-sref="help">
                <ion-nav-view name="help">
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </div> -->
</ion-view>