<ion-view view-title="Chat">
<ion-content class="has-header has-footer">




<ion-list can-swipe="true">
    <ion-item ng-repeat="chatDisplay in chatsDisplay | orderBy: '-lastTime'" class="chat_box_content" ng-click="launchChat(chatDisplay.id)">
            <div class="img_chat">
                <img ng-src="{{chatDisplay.chatPic}}">
            </div>
            <h3 class="chat_box_title" ng-class="{'not_read_chat_desc_time': chatDisplay.seen == false}" >
                {{chatDisplay.titre}}
            </h3>
            <h3 class="chat_box_time" ng-class="{'not_read_chat_desc_time': chatDisplay.seen == false}">
                {{chatDisplay.lastTime}}
            </h3>
            <p class="chat_box_preview" ng-class="{'not_read_short_message': chatDisplay.seen == false}">
<ion-option-button class="button-assertive" ng-click="deleteChat(chatDisplay.id)">Effacer</ion-option-button>
    </ion-item>
</ion-list>

</ion-content>
</ion-view>