<ion-view view-title="Conv">
<ion-header-bar  class="actu_header">
<a href='#/user/chat'><div class="button button-clear"><span class="white ion-chevron-left"></span></div></a>
<img class="logo_wf" ng-src="../img/logo_WF.svg">
</ion-header-bar>
<div class="content_conv has-header">
    <div class="conv_ban">
        <h2 class="conv_ban_title">
            Foot de {{detail.orgaName}}
        </h2>
        <p class="conv_ban_text"> 
            Le {{detail.date}} au <span>{{detail.field.name}}</span>
        </p>
    </div>
</div>
<ion-content class="padding padding_top has-header has-subheader has-footer padding_bottom">
<div class="content_conv_box padding" id="convcontent">
    <dl class="conv_box" ng-repeat="message in chat.messages | orderBy:'createdAt'">
        <dd ng-if="message.senderId!=user.id" class="from">
            <div class="img_chat_conv">
                <img ng-src="{{getPic(message.senderId)}}">
            </div>
            <p>
                <span class="message_name">
                    <span>{{getUsername(message.senderId)}}</span>
                    dit:
                    <br>
                </span>
                <span>{{message.messagestr}}</span>
            </p>
        </dd>
        <dd ng-if="message.senderId==user.id" class="to">
            <p>{{message.messagestr}}</p>
        </dd>
    </dl>
</div>
</ion-content>
<ion-footer-bar class="input_message_wrapper" id="footerChat">
<!-- class="item item_conv item-input"-->
 <textarea id="messageArea" ng-model="messageContent" type="text" placeholder="Saisissez votre message ici" ng-keyup="autoExpand()"></textarea>
<button class="button_send_message button" style="font-weight:700;" ng-click="sendMessage(messageContent)" ng-class="showMessageButton(messageContent)"><i class="ion-paper-airplane"></i></button>

</ion-footer-bar>
</ion-view>
