<ion-view view-title="Conv">
    <ion-content class="padding">
        <div class="bar bar-header actu_header">
            <button class="button button-icon icon ion-navicon actu_button">
            </button>
            <p class="text_chat">
                Chats
            </p>
        </div>
        <div class="content_conv">
            <div class="conv_ban">
                <h2 class="conv_ban_title">
                    Conv' de fifoux
                </h2>
                <p class="conv_ban_text">
                    Le 30/05 à 19h au Five de Bobigny
                </p>
            </div>
        </div>
    <div class="conv_box">
        <dl class="conv_box">
            <dd class="from">
                <div class="img_chat_conv">
                    <img src="../img/default_pic.jpg">
                </div>
                <p>
                    <span class="message_name">
                        <span>Fifouxdu95</span>
                        dit:
                        <br>
                    </span>
                    <span> yo !</span>
                </p>
            </dd>
            <dd class="to">
                <p>coucou</p>
            </dd>
            <dd class="to">
                <p>salut toi ! Ca va ?</p>
            </dd>
            <dd class="to">
                <p>Tu me rep pas ? tarba ?</p>
            </dd>
            <dd class="to">
                <p>stp quoi ! viens on est pote !</p>
            </dd>
            <dd class="from">
                <div class="img_chat_conv">
                    <img src="../img/default_pic.jpg">
                </div>
                <p>
                    <span class="message_name">
                        <span>Fifouxdu95</span>
                        dit:
                        <br>
                    </span>
                    <span>t'es relou comme mec casse toi wesh</span>
                </p>
            </dd>
             <dd class="from">
                <div class="img_chat_conv">
                    <img src="../img/default_pic.jpg">
                </div>
                <p>
                    <span class="message_name">
                        <span>Fifouxdu95</span>
                        dit:
                        <br>
                    </span>
                    <span>Ceci est un test. Dans l'optique de voir si la mise en page de cette view marche de maniere correct, je me propose d'ecrir du text dont l(utilité est nulle, juste pour meulbler. Attention, SAUT DE LIGNE <br> Houlalala on tente un autre ? <br> BAMMMM et la double saut ! <br><br> PUTAIN JE SUIS UN OUF ! je suis une machine de guerre </span>
                </p>
            </dd>
        </dl>
    </div>
    </ion-content>
    