<ion-header-bar  class="actu_header">
<h1 class="title">Quand jouer ?</h1>

<a href='#/footfield'><div class="button button-clear button-goback"><span class="white ion-chevron-left"></span></div></a>
</ion-header-bar>


<ion-view view-title="footparams">

<ion-content class="padding">
<br />
<br />
<br />
<br />
<div class="list text-center fond bottom-marged">
  <div class="row text-center">
    <div class="col">
      <div ng-click="showDatePicker()" class="item nativedatepicker">
        <i class="ion-calendar ion_cal"></i><p class="create_foot_label">Date</p>
        <p class="time_date"> {{date}} </p>
        <i class="ion-chevron-down arrow_cal"></i>
      </div>
    </div>
    <div class="col">
      <div ng-click="showHourPicker()" class="item">
        <i class="ion-ios-clock-outline ion_cal"></i><p class="create_foot_label">Heure</p>
        <p class="time_date">{{hour}}</p>
        <i class="ion-chevron-down arrow_cal"></i>
      </div>
    </div>
  </div>
    <div class="row text-center">

    </div>
</div>
</ion-content>
</ion-view>
