<ion-view view-title="Election">
<ion-header-bar  class="actu_header">
<a href='#/user/notif'><div class="button button-clear"><span class="white ion-chevron-left"></span></div></a>
<img class="logo_wf" ng-src="../img/logo_WF.svg">
</ion-header-bar>
<div class="content_conv has-header" ng-if="!alreadyVoted">
	<div class="conv_ban">
		<h2 class="conv_ban_title">
			Foot de {{foot.orgaName}}
		</h2>
		<p class="conv_ban_text">
			Le {{foot.date}} au <span>{{foot.field.name}}</span>
		</p>
	</div>
</div>
<ion-content class="padding padding_top has-header has-subheader">
<div class="election_phrase" ng-if="!alreadyVoted">
	<h2>Elisez <strong>la chèvre</strong> et <strong>l'homme</strong> du match !</h2>
</div>
<!-- to do supprimer l'user courant  -->

<div ng-repeat="user in users" class="election_user_container" ng-if="!alreadyVoted">
	<img class="election_pic" ng-src="{{user.picture}}">
	<div class="election_user_firstname"><p>{{user.first_name}}</p></div>
	<div class="trophe_container">
		<img class="trophe" ng-src="img/trophe.png" ng-if="!selectedOrNot('homme',user.id)" ng-click="select('homme',user.id)">
		<img class="trophe" ng-src="img/trophe_or.png" ng-if="selectedOrNot('homme',user.id)">
		<img class="chevre" ng-src="img/chevre.png" ng-if="!selectedOrNot('chevre',user.id)" ng-click="select('chevre',user.id)">
		<img class="chevre" ng-src="img/chevre_rouge.png" ng-if="selectedOrNot('chevre',user.id)">
	</div>
</div>

<button class="button homepage_fb homepage_button button_valid" ng-click="elir()" ng-if="!alreadyVoted">Valider</button>
</ion-content>
</ion-view>
