<ion-view view-title='footfinder'>
    <ion-header-bar class="actu_header">
     <div class="button button-clear" ng-click="goBack()"><span class="white ion-chevron-left"></span></div>
 	 <h1 class="title" style="text-align: center;">Trouver un foot</h1>
	</ion-header-bar>
    <ion-content>
    	<div class="header-footfinder">
    		<div class="select-place">
       			<input ng-model="params.field" ng-keyup="getData(params)" placeholder="Saisir un lieu"/>
      			<i class="ion-ios-location-outline"></i>
      		</div>
      		<div class="range-footfinder range range-positive">
            <i class="ion-arrow-left-a" ng-class="{'grey': params.dateValue==0}" ng-click="updateDate(-1)"></i><p class="date-footfinder">{{date}}</p><i class="ion-arrow-right-a" ng-class="{'grey': params.dateValue==4}" ng-click="updateDate(1)"></i>
      		</div>
      	</div>
        <div class="container_results_footfinder">
        <ion-scroll direction="y" class= "carte_foots background_footfinder">
        <searchLoader></searchLoader> 
      	<div ng-click="go(foot.id)" class="item item-divider-foot item-text-wrap border_bottom_foot" ng-repeat= "foot in results" ng-class="{'last-margin': $index==results.length-1}">
            <div class="row">
              <div class="col col-25">
                <div class="img_chat"><img ng-src="{{foot.orgaPic}}" alt=""></div>
              </div>
                <div class= "col col-50 info_foots">
                  <div class="bleuciel"> <strong>{{foot.orgaName}}</strong></div>
                   <p class="bleufonce"><strong>{{foot.dateString}}</strong></p>
                   <p style="text-transform: uppercase;" class="ng-binding">{{foot.field.name}}</p>
                </div>
                <div class="col col-25 fleche_bleu_fonce_foots"><img src="img/fleche_bleufonce.svg" alt=""></div>
            </div>

              <div class="row nbredejoueur_foots">
                <div class="col-25"><img class="img_level_foots" ng-src="img/niveau_3.svg" src="img/niveau_3.svg"></div>
                <div class="col-25"></div>

                <div class="col-25">
                 <p class="bleufonce nbreplace"> <strong>Encore {{foot.nb_player - foot.confirmed_players}} places</strong></p>
                </div>
                <div class="col-25">
                  <img ng-src="img/icon_bonhomme_bleufonce.svg" height="30" class="bonhomme_foots">
                </div>
              </div>
        </div>
    	</ion-scroll>
      </div>
    </ion-content>
</ion-view>