<ion-view view-title="foot">
<ion-header-bar class="actu_header">
<div class="button button-clear header_left_foot" ng-click="goBack(nbGoBack)"><span class="white ion-chevron-left"></span></div>
<img class="logo_wf_foot" ng-src="img/logo_WF.svg">
<i ng-if="isInvited || isPlaying" class="ion-chatbubbles ion-header-foot" ng-click="launchChat(foot.id)"></i>
</ion-header-bar>
<ion-content class="has-header padding margin-content last">
<div class="container-foot-all" ng-if="ready">
<ion-refresher on-refresh="refresh()">                 
</ion-refresher>
<div class="header-foot">
	<h4>FOOT DE {{foot.orgaName}}</h4>
	<p>{{date}} {{foot.field.name}}</p>
</div>
<div id="imagehead-foot" style="background:url({{foot.field.picture}}) no-repeat center;  background-size: cover; ">
</div>
<a href="tel: {{foot.field.telephone}}" ng-if="user.id == foot.organisator && !foot.booked && !foot.field.partner" class="button button-book-foot"><!-- <i class="ion-calendar"></i> --> <i class="ion-ios-telephone"></i>Réserver le terrain</a>
<a ng-click="book()" ng-if="user.id == foot.organisator && !foot.booked && foot.field.partner" class="button button-book-foot"><!-- <i class="ion-calendar"></i> --> <i class="ion-calendar"></i><p>Réserver le terrain</p></a>
<button ng-if="user.id != foot.organisator && foot.friend_can_invite && (isPlaying)" ng-click="openModal2()" class="button button-book-foot" style="font-size:35px;"> <i class="ion-ios-email"></i><p>Inviter vos amis</p></button>
<button ng-if="!isPlaying && isInvited" ng-click="playFoot(user.id)" class="button button-book-foot"> <i class="ion-ios-football"></i><p>Participer</p></button>
<button ng-if="!isPlaying && isInvited" ng-click="removePlayer(user.id,true)" class="button button-book-foot" style="background-color: #E2334C"> <i class="ion-close-circled"></i>Je ne peux pas</button>
<button ng-if="!isInvited && !foot.priv && !isPending" ng-click="askToPlay(user.id)" class="button button-book-foot"> <i class="ion-ios-football"></i><p>Demander à jouer</p></button>
<div ng-if="user.id == foot.organisator" class="bouttons3-foot">	
	<button ng-click="closePublic()" ng-if="!foot.priv" class="boutton-foot">
		<i class="ion-locked"></i>
		Fermer au public
	</button>
	<button ng-click="openPublic()" ng-if="foot.priv" class="boutton-foot">
		<i class="ion-ios-world-outline"></i>
		Ouvrir au public
	</button>
	<button ng-click="openModal3()" class="boutton-foot">
		<i class="ion-edit"></i>
		Editer ce foot
	</button>
	<button ng-click="openModal2()" class="boutton-foot">
		<i class="ion-ios-email"></i>
		Inviter vos amis
	</button>
</div>
<hr class="level-foot-separator" size=5px color=#28385B width=85%>
<div class="niveau-foot">
	<p class="level-foot" style="display:inline" >Niveau du foot</p>
	<img class="level-foot" src="img/niveau_{{foot.level}}.svg"/>
	<img class="missing-foot" src="img/icon_bonhomme_bleufonce.svg"/>
	<p class="missing-foot" style="display:inline">Encore {{foot.nb_player-foot.confirmed_players}} places</p>
</div>
<hr class="level-foot-separator separator-bottom" size=5px color=#28385B width=85%>	
<div class="listeparticipants-foot">
	<div ng-repeat="player in players" ng-class="{'first-foot': $index == 0}" class="row player-foot">
		<div class="img_friends img_foot col col-20">
            <img ng-src="{{player.picture}}">
        </div>
        <a href="#/friend/{{player.id}}" class="name-player-foot col col-80">
			<p>	{{player.first_name}} {{player.last_name}} </p>
			<p ng-if="foot.organisator == player.id" class="orga-foot"> Organisateur de ce foot</p>
		</a>
	</div>
</div>
<hr class="field-foot-separator" size=5px color=#28385B width=85%>
<div class="urban-foot">
	<div class="photourban-foot" style="background-image:url({{foot.field.picture}});">
	</div>
	<div class="nomurban-foot">
		<h5 style="margin-bottom:0px"> {{foot.field.name}}</h5>
		<p style="margin-top:5px;"> {{foot.field.address}} </p>
		<p>{{foot.field.zip_code}} {{foot.field.city}} </p>
		<p ng-if="foot.field.telephone!=null" style="color:#006DFF"> <i class="ion-ios-telephone"></i>{{foot.field.telephone}}</p>
	</div>
</div>
<div class="last70">
<button ng-if="user.id == foot.organisator" ng-click="confirmDelete(user.id)" class="annuler-foot">
	<i class="ion-close-circled"></i> Annuler le Foot
</button>
<button ng-if="(user.id != foot.organisator)&&(isPlaying)" ng-click="removePlayer(user.id)" class="annuler-foot">
	<i class="ion-close-circled"></i> Se retirer du foot
</button>
</div>
</div>
</ion-content>
<div class="err_container">{{err}}</div>
</ion-view>