<ion-view view-title="foots" class="background-foot">
  <ion-content class="has-header">
  <section class="tab">
   <ul class="tab-container">
      <li ng-click="tab = 1" ng-class="{activeliseret: tab==1}" class="foot-tab">
        <span ng-class="{active: tab==1}" class="gris">FOOTS <strong><br>A VENIR</strong></span>
      </li>
      <li ng-click="tab = 2" ng-class="{activeliseret:tab==2}" class="foot-tab">
        <span ng-class="{active: tab==2}" class="gris" >INVITATION <span ng-if="footInvitation.length>0" class="badge badge-assertive">{{footInvitation.length}}</span> <strong><br>EN ATTENTE</strong></span>
      </li>
    <ion-scroll direction="y" class= "carte_foots background_foots last">
      <ion-refresher on-refresh="refresh()">                 
      </ion-refresher>
      <div ng-if="tab == 1" class="last">
       <div ng-click="go(foot.id)" class="item item-text-wrap border_bottom_foot" ng-repeat= "foot in footTodo">
            <div class="row">
              <div class="col col-25">
                <div class="img_chat"><img ng-src="{{foot.orgaPic}}" alt=""></div>
              </div>
                <div class= "col col-50 info_foots">
                  <div class="bleuciel"> <strong>{{foot.orgaName}}</strong></div>
                   <p class="bleufonce"><strong>{{foot.dateString}}</strong></p>
                   <p style="text-transform: uppercase;" class="field-foots">{{foot.field.name}}</p>
                </div>
                <div class="col col-25 fleche_bleu_fonce_foots"><img ng-src="img/fleche_bleufonce.svg" alt=""></div>
            </div>

              <div class="row nbredejoueur_foots">
                <div class="col-25"><img class="img_level_foots" ng-src="img/niveau_{{foot.level}}.svg"></div>
                <div class="col-25"></div>

                <div class="col-25">
                 <p class="bleufonce nbreplace"> <strong>Encore {{foot.nb_player - foot.confirmed_players}} places</strong></p>
                </div>
                <div class="col-25">
                  <img ng-src="img/icon_bonhomme_bleufonce.svg" height="30" class="bonhomme_foots">
                </div>
              </div>
        </div>
      </div>
      <div ng-if="tab == 2" class="last">
       <div ng-click="go(foot.id)" class="item item-text-wrap border_bottom_foot" ng-repeat= "foot in footInvitation">
            <div class="row">
              <div class="col col-25">
                <div class="img_chat"><img ng-src="{{foot.orgaPic}}" alt=""></div>
              </div>
                <div class= "col col-50 info_foots">
                  <div class="bleuciel"> <strong>{{foot.orgaName}}</strong></div>
                   <p class="bleufonce"><strong>{{foot.dateString}}</strong></p>
                   <p style="text-transform: uppercase;" class="field-foots">{{foot.field.name}}</p>
                </div>
                <div class="col col-25 fleche_bleu_fonce_foots"><img ng-src="img/fleche_bleufonce.svg" alt=""></div>
            </div>

              <div class="row nbredejoueur_foots">
                <div class="col-25"><img class="img_level_foots" ng-src="img/niveau_{{foot.level}}.svg"></div>
                <div class="col-25"></div>

                <div class="col-25">
                 <p class="bleufonce nbreplace"> <strong>Encore {{foot.nb_player - foot.confirmed_players}} places</strong></p>
                </div>
                <div class="col-25">
                  <img ng-src="img/icon_bonhomme_bleufonce.svg" height="30" class="bonhomme_foots">
                </div>
              </div>
        </div>
      </div>
  </ion-scroll>
</ul>
</section>
</ion-view>
</ion-content>