<ion-view view-title="foots" class="background-foot">
  <ion-content>

<!--   <div ng-click="go(foot.id)" class="list card" ng-repeat="foot in footTodo"> -->
           <!--  <div class="item item-divider item-divider-foot">


                <img class="img_level_foot" ng-src="img/niveau_3.svg" src="img/niveau_3.svg">
              </div>
            </div> -->
<div class= "carte_foots background_foots">
<!--   <div class="row">
    <div class="col-75"></div>
    <div class="col-25">
    <i class= "ion-close-round supress_foots"></i>
    </div> -->
  <!-- </div> -->
       <div class="item item-text-wrap border_bottom_foot">
            <div class="row">
              <div class="col col-25">
                <div class="img_chat"><img ng-src="img/default_pic.jpg" alt=""></div>
              </div>
                <div class= "col col-50 info_foots">
                  <div class="bleuciel"> <strong>Florent Pascal</strong></div>
                   <p class="bleufonce"><strong>Dimanche 6 Juin, 15h41</strong></p>
                   <p style="text-transform: uppercase;" class="ng-binding">TerrainTest</p>
                </div>
                <div class="col col-25 fleche_bleu_fonce_foots"><img src="img/fleche_bleufonce.svg" alt=""></div>
            </div>

              <div class="row nbredejoueur_foots">
                <div class="col-25"><img class="img_level_foots" ng-src="img/niveau_3.svg" src="img/niveau_3.svg"></div>
                <div class="col-25"></div>

                <div class="col-25">
                 <p class="bleufonce nbreplace"> <strong>Encore 9 places</strong></p>
                </div>
                <div class="col-25">
                  <img ng-src="img/icon_bonhomme_bleufonce.svg" height="30" class="bonhomme_foots">
                </div>
              </div>
        </div>

</div>
              <!-- <div ng-if="foot.booked == 1" class="col col-30 booked_foot">
                <p> Reservé </p>
              </div>
              <div ng-if="foot.booked == 0" class="col col-50 booked_foot not_booked">
                <p> A Reserver </p>
              </div> -->
<!--             </div> -->


</ion-view>
</ion-content>