<ion-header-bar  class="actu_header">
  <h1 class="title">Où</h1>
  <a href='#/user/profil'><div class="button button-clear"><span class="white ion-chevron-left"></span></div></a>
</ion-header-bar>
<ion-view view-title="footparams">
  <ion-content>
    <div class="header-footfield">
      <div class="select-place">
      <input placeholder="Saisir un lieu"/>
      <i class="ion-ios-location-outline"></i>
      </div>
      <div class="subtitle-footfield">
        <p>
          Ou rajouter votre propre terrain
        </p>
        <img class="icon-field" src="../img/icon_nouveau_terrain.svg"/>
      </div>
    </div>
    <div class="content-footfield">
      <div class="one-field">
        <div class="row">
          <div class="col col-25">
            <img class="field_img" src="../img/terrain_640x414_3.jpg"/>
          </div>
          <div class="col col-60">
            <p class="name-field">Five Bobigny</p>
            <p class="desc-field">265 bd du Général Leclerc</p>
            <p class="desc-field">92035 Bobigny </p>
          </div>
          <div class="col col-10">
            <div ng-class="{grey: friend.statut==0}" class="star_field">
              <i class="ion-android-star"></i>
            </div>
            <div class="chevron-right">
              <i class="ion-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>
            <div class="one-field">
        <div class="row">
          <div class="col col-25">
            <img class="field_img" src="../img/terrain_640x414_3.jpg"/>
          </div>
          <div class="col col-60">
            <p class="name-field">Five Bobigny</p>
            <p class="desc-field">265 bd du Général Leclerc</p>
            <p class="desc-field">92035 Bobigny </p>
          </div>
          <div class="col col-10">
            <div ng-class="{grey: friend.statut==0}" class="star_field">
              <i class="ion-android-star"></i>
            </div>
            <div class="chevron-right">
              <i class="ion-chevron-right"></i>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </ion-content>
</ion-view>