<ion-view view-title='footfinder'>
    <ion-header-bar class="actu_header">
     <i class="ion-chevron-left icon_modal"></i>
 	 <h1 class="title">Rechercher un foot</h1>
	</ion-header-bar>
    <ion-content>
    	<div class="header-footfinder">
    		<div class="select-place">
       			<input ng-model="word" ng-keyup="searchQuery(word)" placeholder="Saisir un lieu"/>
      			<i class="ion-ios-location-outline"></i>
      		</div>
      		<div class="range-footfinder range range-positive">
      			<input type="range" ng-change="updateDate()" ng-model="slider.dateValue" min="0" max="4"><p class="date-footfinder">{{date}}</p>
      		</div>
      	</div>
    </ion-content>
</ion-view>