<ion-view view-title="friend profile"> 
<ion-header-bar  class="actu_header">
<h1 class="title">{{friend.first_name}} {{friend.last_name}}</h1>
<a href='#/user/friends'><div class="button button-clear"><span class="white ion-chevron-left"></span></div></a>
<img class="logo_wf" src="img/logo_WF.svg">
</ion-header-bar>

<ion-content class="has-header padding last">

<div class="img_menu_bg" style="background:url({{friend.picture}}) no-repeat center;   background-size: cover; ">
</div>

	<img class="img_menu" style="display: block;margin-left: auto;margin-right: auto;" ng-src="{{friend.picture}}"/>

<div class="info_friend">
	<p>Club Favori : <span ng-if="friend.favorite_club">{{friend.favorite_club}}</span>
  <span ng-if="!friend.favorite_club" class="default-friend">Aucun Club</span></p>

</div>
<div class="info_friend info_last">
	 <p>Poste : <span ng-if="friend.poste">{{friend.poste}}</span>
  <span ng-if="!friend.poste" class="default-friend">Aucun Poste</span></p>

</div>

<!-- <a ng-hide="isInvitationConfirmation" href="#/login"><button class="button button_defier">
	Défier ce joueur
</button></a> -->
<div ng-if="isInvitationConfirmation" class="button-container-friend">
  <button ng-click="acceptInvitation(true)" class="button  button-positive button-confirm-friend">Accepter ce joueur</button>
  <button ng-click="acceptInvitation(false)" class="button button-assertive button-confirm-friend">Refuser ce joueur</button>
</div>
<div class="note_friend">
      <div class="icon_menu icon-techB">
      </div>
      <p>Technique</p>
      <i ng-class="starStatus[0][4]"></i><i ng-class="starStatus[0][3]"></i><i ng-class="starStatus[0][2]"></i><i ng-class="starStatus[0][1]"></i><i ng-class="starStatus[0][0]"></i>
    </div>
    <div class="note_friend">
		  <div class="icon_menu icon-shoesB">
		  </div>
      <p>Frappe</p>
      <i ng-class="starStatus[1][4]"></i><i ng-class="starStatus[1][3]"></i><i ng-class="starStatus[1][2]"></i><i ng-class="starStatus[1][1]"></i><i ng-class="starStatus[1][0]"></i>
    </div>
    <div class="note_friend">
      <div class="icon_menu icon-powerB">
      </div>
      <p>Physique</p>
      <i ng-class="starStatus[2][4]"></i><i ng-class="starStatus[2][3]"></i><i ng-class="starStatus[2][2]"></i><i ng-class="starStatus[2][1]"></i><i ng-class="starStatus[2][0]"></i>
    </div>
    <div class="note_friend">
      <div class="icon_menu icon-fpB">
      </div>
      <p>Fair-Play</p>
      <i ng-class="starStatus[3][4]"></i><i ng-class="starStatus[3][3]"></i><i ng-class="starStatus[3][2]"></i><i ng-class="starStatus[3][1]"></i><i ng-class="starStatus[3][0]"></i>
    </div>
    <div class="note_friend">
      <div class="icon_menu icon-assiduB">
      </div>
      <p>Assiduité</p>
      <i ng-class="starStatus[4][4]"></i><i ng-class="starStatus[4][3]"></i><i ng-class="starStatus[4][2]"></i><i ng-class="starStatus[4][1]"></i><i ng-class="starStatus[4][0]"></i>
    </div>

<div class="nb_notes_friend">
  <p ng-if="friend.nbGrades>1">(noté par {{friend.nbGrades}} personnes)</p>
  <p ng-if="friend.nbGrades<=1">(noté par {{friend.nbGrades}} personne)</p>
</div>

<a ng-show="isFriend" href="#/noter/{{friend.id}}"><button class="button button_noter">
	Noter ce joueur
</button></a>
<!-- <a ng-hide="isFriend" href="#/noter/{{friend.id}}"><button class="button button_noter last">
  Noter ce joueur
</button></a> -->

</ion-content>
</ion-view>