<ion-view view-title="Friends">
<label class="item-input has-header">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="searchFriends" ng-keyup="filterFriend(searchFriends)" placeholder="Rechercher un nom">
</label>
<ion-content class="has-header has-subheader">
<ion-refresher on-refresh="refresh()">
</ion-refresher>
<div class="container_friends last">
	<div class="container_list_friends">

        <ion-list can-swipe="true">
        <ion-item ng-repeat="friend in results | orderBy:'-statut'" class="one_friends">
        <div class="img_chat img_friends" ng-click="goFriend(friend)">
            <img ng-src="{{friend.picture}}">

        </div>
        <div class="name_friends" ng-click="goFriend(friend)">
            <p> {{friend.first_name}} {{friend.last_name}} </p>
        </div>
        <div ng-click="addFavorite(friend.id)" ng-class="{grey: friend.statut==0}" class="star_friends">
            <i class="ion-android-star"></i>
        </div>

        <ion-option-button class="button-assertive" ng-click="deleteFriend(friend.id)">Suppr.</ion-option-button>
    </ion-item>
</ion-list>

<div ng-if="friends.length==0" class="no-instance-yet">
<p>Vous n'avez pas encore ajouté d'amis à votre liste d'ami.</p>
<p>Cliquez sur <img src="img/icon_bonhomme_bleufonce.svg"></img> en haut à droite de l'écran et recherchez ! </p>
</div>
<!-- 		<div ng-repeat="friend in friends | orderBy:'-statut' | filter:searchFriends" class="one_friends">
			<div class="img_chat img_friends" ng-click="goFriend(friend)">
            	<img ng-src="{{friend.picture}}">

        	</div>
        	<div class="name_friends" ng-click="goFriend(friend)">
        		<p> {{friend.first_name}} {{friend.last_name}} </p>
        	</div>
        	<div ng-click="addFavorite({{friend.id}})" ng-class="{grey: friend.statut==0}" class="star_friends">
        		<i class="ion-android-star"></i>
        	</div>
        </div> -->
<!--         <div class="one_friends">
			<div class="img_chat img_friends">
            	<img src="../img/default_pic.jpg">
        	</div>
        	<div class="name_friends">
        		<p> Johnny Ketamere </p>
        	</div>
        	<div class="star_friends grey">
        		<i class="ion-android-star"></i>
        	</div>
        </div>
    </div> -->
</div>
</div>
</ion-content>
</ion-view>
