<ion-view view-title="Signin">
  <ion-content class="padding">
    <div class="col-90 homepage_logo_container">
    	<img class="homepage_logo" src="../img/logo.jpg"/>
    </div>
    <div class="homepage_title">
    	<h1> IDENTIFIEZ-VOUS </h1>
    </div>
   	<a href="#/login"><button class="button homepage_connect homepage_button icon-right ion-chevron-right">
  		Connexion
	</button></a>
	 <a ng-click="facebookConnect"><button class="button homepage_fb homepage_button">
  		Connexion via Facebook
	</button></a>
	 <a href="#/register"><button class="button homepage_register homepage_button icon-right ion-chevron-right">
  		Inscription
	</button></a>
     <a href="/#/user/footparams">
  <button  class="homepage_button button button-positive">
    footparams
  </button>
  </a>
  </ion-content>
</ion-view>
