<ion-view>
<ion-content class="padding">
<div class="register_title">
 <a href="#/"> <h1 class="title"> <i class="ion-chevron-left chevron-left-accueil"></i> CONNEXION </h1> </a>
</div>
<div class="register_logo_container">
  <img class="logo" ng-src="img/logo.svg">
</div>
<div class="list list-inset id-mdp-seco">
  <label class="item item-input">
    <input type="text" ng-model="user.email" placeholder="Email">
  </label>
  <label class="item item-input">
    <input type="password" ng-model="user.password" placeholder="Mot de passe">
  </label>
</div>
<div class="login-mdpo">
  <a href="/#/resetPassword"><p>Mot de passe oublié ?</p><p class="ion-chevron-right login-mdpo_chevron"></p></a>
</div>
<p class="err_container"> {{err}} </p>
<div class="login-seco">
  <button ng-click="launchReq()" class="homepage_button button button-positive">
    Se connecter
  </button>

</div>
</ion-content>
</ion-view>