<ion-view view-title="Dashboard">
<ion-content class="padding">
<div class="register_title">
 <a href="/"> <h1 class="ion-chevron-left"> CONNEXION </h1> </a>
</div>
<div class="register_logo_container">
  <img class="logo" src="../img/logo.svg">
</div>
<div class="list list-inset id-mdp-seco">
  <label class="item item-input">
    <input type="text" ng-model="user.email" placeholder="Email">
  </label>
  <label class="item item-input">
    <input type="password" ng-model="user.password" placeholder="Mot de passe">
  </label>
</div>
<div class="login-mdpo">
  <p>Mot de passe oublié ?</p>
</div>
<div class="login-seco">
  <button ng-click="launchReq()" class="homepage_button button button-positive">
    Se connecter
  </button>
</div>
</ion-content>
</ion-view>