 <div class="modal">
  <ion-header-bar  class="actu_header">
  <div class="button button-clear" ng-click="closeModal3(false)"><span class="icon ion-chevron-down"></span></div>
  <h1 class="title">Editer le foot</h1>
</ion-header-bar>
<ion-content>
<div class="list text-center fond bottom-marged">
  <div class="field-name-edit">{{selectedField.name}}</div>
  <div class="list list-inset input-searchfield-edit">
    <label class="item item-input">
      <i class="icon ion-location placeholder-icon"></i>
      <input ng-keyup="searchField(word)" ng-model= "word" type="text" value="{{foot.field.name}}"
      placeholder="Changer le terrain">
    </label>
  </div>
  <ul class="list list-inset list-field-edit">
   <li ng-click="updateField(aField)" ng-repeat="aField in fields" class="item">
     {{aField.name}}
   </li>
 </ul>
</div>
<div class="row text-center">
  <div class="col">
    <div ng-click="showDatePicker()" class="item nativedatepicker">
      <i class="ion-calendar ion_cal"></i>
      <p class="time_date"> {{date}} </p>
      <i class="ion-chevron-down arrow_cal"></i>
    </div>
  </div>
  <div class="col">
    <div ng-click="showHourPicker()" class="item">
      <i class="ion-ios-clock-outline ion_cal"></i>
      <p class="time_date">{{hour}}</p>
      <i class="ion-chevron-down arrow_cal"></i>
    </div>
  </div>
</div>
<div class="item align_creer_foot">
  <div class="row">
    <div class="col col-25">
      <img class= "icon_bonhomme" ng-src="img/icon_bonhomme.svg"/>
    </div>
    <div class="col col-50 venue1">
     <p>Nombre de joueurs</p>
   </div>
   <div class="col col-25 venue1">
     <label class="item item-input item-select" style="border-style:none;bottom:4px;width:65px">
       <select ng-model="foot.nb_player" style="position:relative; padding:0; ">
         <option>6</option>
         <option>7</option>
         <option>8</option>          
         <option>9</option>
         <option selected>10</option>
         <option>11</option>
         <option>12</option>
         <option>13</option>
         <option>14</option>
         <option>15</option>
         <option>16</option>
         <option>17</option>
         <option>18</option>
         <option>19</option>
         <option>20</option>
         <option>21</option>
         <option>22</option>
         <option>23</option>
         <option>24</option>
         <option>25</option>
         <option>26</option>
         <option>27</option>
         <option>28</option>
       </select>
     </label>
   </div>
 </div>
</div>

<div class="item align_creer_foot" href="#">
  <div class="row">
    <div class="col col-25">
      <img class= "icon_bonhomme" ng-src="img/icon_partager.svg"/>
    </div>
    <div class="col col-50 venue" style="margin-left:0px">
      <p>Vos amis peuvent <br> inviter leurs amis</p>
    </div>
    <ion-toggle class="col col-25" ng-model="foot.friend_can_invite" id="invite_friends_toggle_edit">
  </ion-toggle>
</div>
</div>

<div class="item item-icon-left level_foot" style="text-align:center; width: 96%; margin: 0 auto; margin-bottom: 15px;">
 <div class="text-center"> <p style="padding-right: 30px;">Niveau du Foot</p></div>
 <div class="row">
  <div class="size_level col" ng-click="foot.level = 1" ng-class="{active: foot.level ==1}"><img ng-src="img/niveau_1.svg"/><p>Débutant</p></div>
  <div class="size_level col" ng-click="foot.level = 2" ng-class="{active: foot.level ==2}"><img ng-src="img/niveau_2.svg"/><p>Moyen</p></div>
  <div class="size_level col" ng-click="foot.level = 3" ng-class="{active: foot.level ==3}"><img ng-src="img/niveau_3.svg"/><p>Expert</p></div>
  <div class="size_level col" ng-click="foot.level = 0" ng-class="{active: foot.level ==0}"><img ng-src="img/niveau_0.svg"/><p>Tous</p></div>
</div>
</div>

<button ng-click="closeModal3(true)" class="button button-book-foot">
  Valider
</button>
<div ng-if="user.id == foot.organisator" ng-click="confirmDelete(user.id)" class="annuler-foot">
  <i class="ion-close-circled"></i> Annuler le Foot
</div>
</div>
</ion-content>
</div>