 <div class="modal">
      <ion-header-bar  class="actu_header">
      <h1 class="title">Inviter des amis</h1>
      <div class="button button-clear" ng-click="closeModal2()"><span class="icon ion-checkmark-round"></span></div>
    </ion-header-bar>
    <ion-content  class="padding_header">
    <label class="item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input ng-model="searchFriends" type="text" placeholder="Rechercher un foot">
    </label>
    <div id="container_foot_friends" class="container_list_friends">
      <div ng-repeat="friend in friends | filter:searchFriends | orderBy:'-statut'" class="one_friends item item-checkbox item_foot_friend">
      <label class="checkbox checkbox_foot_friends">
       <input ng-if="invited.indexOf(friend.id)==-1" ng-click="addToFoot(friend.id)" type="checkbox">
       <i ng-if="invited.indexOf(friend.id)>-1" class="ion-checkmark-round"></i>
      </label>
        
        <div class="img_chat img_friends">
          <img ng-src="{{friend.picture}}">
        </div>
        <div class="name_friends name_foot_friends">
          <p> {{friend.first_name}} {{friend.last_name}}  </p>
        </div>
        <div ng-class="{grey: friend.statut==0}" class="star_friends">
          <i class="ion-android-star"></i>
        </div>
      </div>
    </div>
  </ion-content>
</div>