<ion-view view-title="Add a field">
<ion-header-bar  class="actu_header">
  <h1 class="title">Nouveau terrain</h1>
  <a ui-sref="footfield"><div class="button button-clear"><span class="white ion-chevron-left"></span></div></a>
   <img class="logo_wf" ng-src="img/logo_WF.svg">
</ion-header-bar>
<ion-content class="has-header padding">
<div class="last container-new-field">

<div ng-click="getPic()" class="select_pic_container_field">
  <i class="ion-android-camera cam_size"><i ng-show="imageUri !=null" class="ion-ios-checkmark-outline green-check"></i></i>

  <i class="ion-upload upload_size"></i>
  <h3 class="select_pic_field">Sélectionner une photo de terrain</h3>
</div>

<div class="main_app">
  <form class="list field_form last">

    <label class="field_input item item-input field_input">
      <input type="text"  ng-model="field.name" placeholder="Nom du terrain">
    </label>
    <label class="field_input item item-input">
      <input type="text" ng-model="field.address" placeholder="Rue">
    </label>
    <label class="field_input item item-input">
      <input type="text" ng-model="field.city" placeholder="Ville et code postal">
    </label>
      <button ng-click="launchReq()" style="margin-bottom: 50px;" class="homepage_button button">
        Valider
      </button>
  </form>
</div>

</ion-content>
</ion-view>