<ion-view view-title="Notif">
<ion-content class="has-header">
<div class="container-notif last">
    <div ng-click="go(notif.url)" ng-repeat="notif in notifs | orderBy:'-createdAt' track by $index" class="one-notif row">
        <div class="img_chat img_search col-20">
            <img ng-src="{{notif.picture}}">
        </div>
        <div class="col col-80 content-notif">
            <p class="text-notif"><strong>{{notif.userName}}</strong> {{notif.texte}}</p>
            <p class="date-notif"> {{notif.date}} </p>
        </div>
    </div>
</div>
</ion-content>
</ion-view>