<ion-view view-title="Notif">
<ion-content class="has-header">
<searchLoader></searchLoader>
<div class="container-notif last"> 
    <div ng-click="go(notif.url)" ng-repeat="notif in notifs | orderBy:'-createdAt' track by $index" class="one-notif row">
        <div class="img_chat img_search col-20">
            <img ng-src="{{notif.picture}}">
        </div>
        <div class="col col-80 content-notif">
            <p class="text-notif"><strong>{{notif.userName}}</strong> {{notif.texte}}</p>
            <p class="date-notif"> {{notif.date}} </p>
        </div>
    </div>
    <div ng-if="notifs.length==0" class="no-instance-yet">
	<p>Bienvenue sur la page notification:</p>
	<p>Vous trouverez ici vos invitations aux foots, vos nominations en tant qu'homme du match ou encore vos nouvelles amitiés.</p>
	</div>
</div>
</ion-content>
</ion-view>