<ion-view view-title="Profil">
  <ion-content class="">
    <div class="main_actu">
    </div>
    <div class="slider-button row">
    	<div on-drag-left="" class="col col-50 left-side-slider">
    		<p class="title-slider">Trouver<br> un Foot</p><i class="ion-ios-arrow-left pulsate1"></i><i class="ion-ios-arrow-left pulsate2"></i><i class="ion-ios-arrow-left pulsate3"></i>
    </div>
    	<div class="col col-50 right-side-slider">
    	<p class="title-slider">Créer<br>un Foot</p><i class="ion-ios-arrow-right pulsate1"></i><i class="ion-ios-arrow-right pulsate2"></i><i class="ion-ios-arrow-right pulsate3"></i>
    	</div>
    </div>
    <div on-drag-left="moveBall($event)" on-drag-right="moveBallRight($event)" on-release="endAction($event)" class="logo-profil-container">
    	<img  class="logo-profil" ng-src="img/logo_rond.svg"/>
    </div>

    <!-- ACTUS SECTIONS -->
  <div class="container_actu">
   <div ng-repeat="actus in actusByDay" class="row day_timeline">
      <div class="col-20">
        <p class= "date_timeline">{{dates[$index].substring(0,5)}}</p>
      </div>
      <div class="col col-80 border_profil">
        <div class="row" ng-repeat="actu in actus">
          <div class="col-10">
            <img class= "img_profil" ng-src="{{actu.picture}}" alt="">
          </div>
          <div class="col-80 main_content_profil">
             <p class="nowrap_foot"> <a href="#/{{actu.userLink}}" class="bleuciel">{{actu.userName}}</a> {{actu.texte}} <a class="bleuciel" ng-if="actu.userName2" href="#/{{actu.userLink2}}"> {{actu.userName2}}</a></p>
             <i ng-if="actu.related_info" class= "ion-ios-football" style="font-size:21px;"></i>
             <img ng-if="actu.userName2" class="img_friends_profil" ng-src="{{actu.picture2}}" alt="">
             <p class="nowrap_foot" ng-if="actu.related_info"> {{actu.related_info.dateString}} <br></p>
          </div>
          <div class="col-10">
            <p ng-if="actu.related_info" class="number_players_profil indic-profil">{{actu.related_info.format}}</p>
            <img ng-if="actu.userName2" ng-src="img/icon_bonhomme_carnet_bleu.svg" height="20" class="level_foot_profil bonhomme_profil" >
            <img ng-if="actu.related_info" class="img_level_foots number_players_profil level_foot_profil" ng-src="img/niveau_3.svg" src="img/niveau_{{actu.related_info.level}}.svg">
            <p ng-if="actu.related_info" class= "number_players_profil left_player_profil">Encore <span class="bleuciel">{{actu.related_info.nbPlayer-actu.related_info.confirmedPlayer}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>