<ion-view view-title="Dashboard">
<ion-content>
  <div class="bar bar-header actu_header">
    <button class="button button-icon icon ion-navicon actu_button"></button>
     <img class="actu_logo" src="../img/logo_alter.svg"/>
  </div>
  <div class="col main_actu">
    <div class="img_container">
      <img src="../img/default_pic.jpg"/>
    </div>
      <h2 class="actu_name">{{user.first_name}} {{user.last_name}}</h2>
  </div>
</ion-content>
<div class="tab_container">
<ion-tabs class="tab_general tabs-icon-top">
  <ion-tab title="Accueil" icon-on="accueilActive" icon-off="accueilActive" ui-sref="#/profil/{{user.id}}">
      <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Mes Foots"  icon-on="foots" icon-off="foots"  ui-sref="help">
    <ion-nav-view name="help"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Mes Amis" icon-on="amis" icon-off="amis"  ui-sref="help">
    <ion-nav-view name="help"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Chats" icon-on="chats" icon-off="chats"  ui-sref="help">
    <ion-nav-view name="help"></ion-nav-view>
  </ion-tab>
    <ion-tab title="Notifications" icon-on="notif" icon-off="notif" ui-sref="help">
    <ion-nav-view name="help"></ion-nav-view>
  </ion-tab>
</ion-tabs>
</ion-tabs>
</ion-view>