
<ion-view view-title="Profil">
  <ion-content class="">
   <div class="row day_timeline">
      <div class="col-25">
        <p class= "date_timeline">12/04</p>
      </div>
      <div class="col col-50 border_profil">
        <div class="row">
          <div class="col-25">
            <img class= "img_profil"    ng-src="img/default_pic.jpg" alt="">
          </div>
          <div class="col-50">
           <p class="nowrap_foot"> <span class="bleuciel">Max</span> a déjà joué 10 parties <br> sur WF</p>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <img class= "img_profil"    ng-src="img/default_pic.jpg" alt="">
          </div>
          <div class="col-50">
             <p class="nowrap_foot"> <span class="bleuciel">Bob</span> participe à un foot</p>
             <img class= "img_friends_profil"    ng-src="img/default_pic.jpg" alt="">
             <img class= "img_friends_profil"    ng-src="img/default_pic.jpg" alt="">
            <!--  <img class= "img_friends_profil"    ng-src="img/default_pic.jpg" alt=""> -->
             <p class="nowrap_foot"> Samedi, 16/04, à 16h <br>
              Le five Bobigny</p>
          </div>
          <div class="col-25">
            <p class = "number_players_profil">5vs5</p>
            <img class="img_level_foots number_players_profil level_foot_profil" ng-src="img/niveau_3.svg" src="img/niveau_3.svg">
            <p class= "number_players_profil">Encore <span class="bleuciel">2</span></p>
          </div>
        </div>

        <div class="row">
            <div class="col-25">
               <img class= "img_profil"    ng-src="img/default_pic.jpg" alt="">
            </div>
            <div class="col-50">
              <p class= "nowrap_foot"><span class="bleuciel"> Max </span> et <span class="bleuciel">Antoine</span> sont amis </p>
              <img class= "img_friends_profil"    ng-src="img/default_pic.jpg" alt="">
            </div>
            <div class= "col-25">
              <img ng-src="img/icon_bonhomme_carnet.svg" height="20" class= "bonhomme_profil" >
            </div>
        </div>
      </div>
    </div>

         <div class="row day_timeline">
            <div class="col-25">
              <p class= "date_timeline">12/04</p>
            </div>
            <div class="col col-50 border_profil">
              <div class="row">
                <div class="col-25">
                  <img class= "img_profil"    ng-src="img/default_pic.jpg" alt="">
                </div>
                <div class="col-75 ">
                  <p class= "nowrap_foot"><span class="bleuciel"> Max </span> a noté <span class="bleuciel"> Armand </span> et deux <br> autres joueurs</p>
                  <img class= "img_friends_profil"  ng-src="img/default_pic.jpg" alt="">
                  <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_bleu.svg" alt="">
                   <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_bleu.svg" alt="">
                    <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_bleu.svg" alt="">
                     <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_gris.svg" alt="">
                      <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_gris.svg" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <img class= "img_profil"    ng-src="img/default_pic.jpg" alt="">
                </div>
                <div class="col-50">
                  <p class= "nowrap_foot"> <span class="bleuciel"> David </span> a noté Pierre</p>
                  <div class="col-100">
                    <img class= "icon_profil"  ng-src="img/nav_mes_foots_gris.svg" alt="">
                     <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_bleu.svg" alt="">
                   <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_bleu.svg" alt="">
                    <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_bleu.svg" alt="">
                     <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_gris.svg" alt="">
                      <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_gris.svg" alt="">
                  </div>
                  <div class="col-100">
                   <img class= "alter_timeline"  ng-src="img/icon_altere.svg" alt="">
                    <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_bleu.svg" alt="">
                   <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_bleu.svg" alt="">
                    <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_bleu.svg" alt="">
                     <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_gris.svg" alt="">
                      <img class= "img_etoile_timeline"  ng-src="img/icon_timeline_etoile_gris.svg" alt="">
                  </div>
                  <div class="col">
                    <img class= "img_profil"    ng-src="img/default_pic.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <img class= "img_profil"    ng-src="img/default_pic.jpg" alt="">
                </div>
                <div class="col-50">
                  <p class= "nowrap_foot">Nouveau partenaire <img class= ""  height="10px" ng-src="img/icon_timeline_WF.svg" alt=""> <span class="bleuciel"> <br> Urban Puteaux</span> </p>
                </div>
                <div class="col-25">
                 <img class= "bonhomme_profil"  height="20px" ng-src="img/icon_timeline_partenaires.svg" alt="">
                </div>
              </div>
               <div class="row">
                  <div class="col-25">
                    <img class= "img_profil"    ng-src="img/default_pic.jpg" alt="">
                  </div>
                  <div class="col-50">
                    <p class= "nowrap_foot"><span class="bleuciel">Antoine</span> a été élu homme <br>du match</p>
                  </div>
                  <div class= "col-25">
                    <img ng-src="img/icon_trophee_or.svg" height="20px" class= "bonhomme_profil" >
                  </div>
                </div>
                 <div class="row">
                  <div class="col-25">
                    <img class= "img_profil"    ng-src="img/default_pic.jpg" alt="">
                  </div>
                  <div class="col-50">
                     <p class="nowrap_foot"> <span class="bleuciel">Bob</span> a participé à un foot</p>
                     <img class= "img_friends_profil"    ng-src="img/default_pic.jpg" alt="">
                     <img class= "img_friends_profil"    ng-src="img/default_pic.jpg" alt="">
                    <!--  <img class= "img_friends_profil"    ng-src="img/default_pic.jpg" alt=""> -->
                     <p class="nowrap_foot"> Samedi, 16/04, à 16h <br>
                      Le five Bobigny</p>
                  </div>
                  <div class="col-25">
                    <p class = "number_players_profil">5vs5</p>
                    <img class="img_level_foots number_players_profil level_foot_profil" ng-src="img/niveau_3.svg" src="img/niveau_3.svg">
                    <img class="cadenas_timeline" ng-src="img/icon_prive_bleufonce.svg" src="img/niveau_3.svg">
                  </div>
              </div>
           </div>

  </ion-content>
</ion-view>