<ion-view view-title="Register">
<ion-content class="padding">
<div class="register_title">
  <a href="#/"><h1 class="ion-chevron-left"> INSCRIPTION </h1></a>
</div>
<div class="register_logo_container">
  <img class="logo" ng-src="img/logo.svg">
</div>
<form action="localhost:1337/user/create" class="list list-inset">
  <label class="item item-input">
    <input type="text" name="email" ng-model="user.email" placeholder="Adresse e-mail">
  </label>
  <label class="item item-input">
    <input type="password" name="password" ng-model="user.password" placeholder="Mot de passe">
  </label>
  <label class="item item-input">
    <input type="password" name="password_confirmation" ng-model="user.password_confirmation" placeholder="Retapez le mot de passe">
  </label>
  <label class="item item-input">
    <input type="text" name="last_name" ng-model="user.last_name" placeholder="Nom">
  </label>
  <label class="item item-input">
    <input type="text" name="first_name" ng-model="user.first_name" placeholder="Prénom">
  </label>
  <label class="item item-input">
    <input type="text" name="city" ng-model="user.city" placeholder="Ville">
  </label>
  <p class="err_container"> {{err}} </p>
  <div ng-click="launchReq()" class="register_inscr">
    <button  class="homepage_button button button-positive">
      S'inscrire
    </button>
  </div>
</form>
</ion-content>
</ion-view>