<ion-view view-title="Register">
  <ion-content class="padding">
      <div class="register_title">
      <a href="#/"><h1 class="ion-chevron-left"> INSCRIPTION </h1></a>
    </div>
    <div class="register_logo_container">
    <img class="logo" src="../img/logo.svg">
    </div>
    <div class="list list-inset id-mdp-seco">
  <label class="item item-input">
    <input type="text" placeholder="Adresse e-mail">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Mot de passe">
  </label>
    <label class="item item-input">
    <input type="text" placeholder="Nom">
  </label>
    <label class="item item-input">
    <input type="text" placeholder="Prénom">
  </label>
    <label class="item item-input">
    <input type="text" placeholder="Ville">
  </label>
</div>
    <div class="register_inscr">
      <button class="homepage_button button button-positive">
  S'inscrire
</button>
    </div>
  </ion-content>
</ion-view>