<ion-view view-title="Dashboard">
<ion-content class="padding">
<div class="register_title">
 <a href="#/login"> <h1 class="title"> <i class="ion-chevron-left chevron-left-accueil"></i> MODIFIER PASSWORD </h1> </a>
</div>
<div class="register_logo_container">
  <img class="logo" ng-src="img/logo.svg">
</div>
<div class="list list-inset id-mdp-seco">
  <label class="item item-input">
    <input type="text" ng-model="email" placeholder="Email">
  </label>
</div>
<div class="mdpo">
  <p>Entrer l'adresse mail associée à ce compte afin de pouvoir réinitialiser votre mot de passe</p>
</div>
<p class="err_container"> {{erreur}} </p>
<div class="login-seco">
  <button ng-click="sendResetMail(email)" class="homepage_button button button-positive">
    Reset du password
  </button>

</div>
</ion-content>
</ion-view>