<ion-modal-view>
    <ion-header-bar class="actu_header">
     <i class="ion-chevron-down icon_modal" ng-click="closeModal()"></i>
 	 <h1 class="title">Rechercher</h1>
	</ion-header-bar>
    <ion-content class="has-footer">
    <div class="switcher_search">
    	<div ng-click="switchSearchWf()" class="switch switch_wf">
    		<div class="switch_wf1"></div>
    		<p class="switch_title"> WeFoot </p>
    	</div>
<!--     	 <div ng-click="switchSearchFb()" class="switch switch_fb">
    		<i class="ion-social-facebook"></i>
    		<p class="switch_title"> Facebook </p>
    	</div> -->
    </div>
    <!-- WEFOOT SECTION -->
	<div class="content_wf_search container_list_friends">
		<label class="item-input">
    		<i class="icon ion-search placeholder-icon"></i>
    		<input ng-model="word" ng-keyup="searchQuery(word)" type="text" placeholder="Rechercher un nom">
  		</label>
      <div searchloader></div>
		<div ng-if="user.id != guy.id" ng-repeat="guy in results" class="one_search">
			<div class="img_chat img_search img_search_left">
				<img ng-src="{{guy.picture}}">
			</div>
			<div ng-class="{'disabled': isFriend(guy.id)}" class="name_search">
				<p> {{guy.first_name}} {{guy.last_name}}</p>
			</div>
			<div ng-click="isFriend({{guy.id}}) || addFriend({{guy.id}}, false)" ng-class="{'ion-checkmark-round': isFriend({{guy.id}}), 'icon_friend_search': !isFriend({{guy.id}})}" ng-disabled ="isFriend({{guy.id}})" class="icon_search">
			</div>
		</div>
	</div>
    <!-- FACEBOOK SECTION -->
	<div class="content_fb_search hidden">
      <div ng-repeat="guy in facebookFriends" class="one_search">
      <div class="img_chat img_search img_search_left">
        <img ng-src="{{guy.picture.data.url}}">
      </div>
      <div ng-class="{'disabled': isFriend({{guy.id}}, true)}" class="name_search">
        <p> {{guy.name}} </p>
      </div>
      <div ng-click="isFriend({{guy.id}}, true) || addFriend({{guy.id}}, true)" ng-class="{'ion-checkmark-round': isFriend({{guy.id}}, true), 'icon_friend_search': !isFriend({{guy.id}},true)}" ng-disabled ="isFriend({{guy.id}}, true)" class="icon_search">
      </div>
    </div>
    <!-- <div> NON DISPONIBLE POUR CETTE VERSION </div> -->
	</div>
    </ion-content>
    


<ion-footer-bar align-title="left" style="background: url(img/invitebg.jpg)" class="bar-assertive">
<h1 style="margin-top: 3px; font-size:20px; color:white; text-shadow: 2px 2px black; font-weight:700">Invitez vos amis via</h1>
<img ng-src="img/fblogo.png" style="width:34px; margin-left:30px; border-radius: 5px;" ng-click="sendFbMessage()">
<img ng-src="img/imesslogo.png" style="width:34px; margin-left:30px;" ng-click="sendSmsMessage()">
</ion-footer-bar>
</ion-modal-view>