<ion-modal-view>
    <ion-header-bar class="actu_header">
     <i class="ion-chevron-down icon_modal" ng-click="closeModal()"></i>
 	 <h1 class="title">Rechercher</h1>
	</ion-header-bar>
    <ion-content>
    <div class="switcher_search">
    	<div ng-click="switchSearchWf()" class="switch switch_wf opened_search">
    		<div class="switch_wf1"></div>
    		<p class="switch_title"> WeFoot </p>
    	</div>
    	 <div ng-click="switchSearchFb()" class="switch switch_fb">
    		<i class="ion-social-facebook"></i>
    		<p class="switch_title"> Facebook </p>
    	</div>
    </div>
    <!-- WEFOOT SECTION -->
	<div class="content_wf_search container_list_friends">
		<label class="item-input">
    		<i class="icon ion-search placeholder-icon"></i>
    		<input ng-model="word" ng-keyup="searchQuery(word)" type="text" placeholder="Rechercher un nom">
  		</label>
		<div ng-repeat="user in results" class="one_search">
			<div class="img_chat img_search">
				<img ng-src="{{user.picture}}">
			</div>
			<div ng-class="{disabled: friendsId.indexOf(user.id)>-1}" class="name_search">
				<p> {{user.first_name}} {{user.last_name}}</p>
			</div>
			<div ng-click="addFriend({{user.id}})" ng-class="{'ion-checkmark-round': friendsId.indexOf(user.id)>-1, 'icon_friend_search': friendsId.indexOf(user.id)==-1 }" class="icon_search">
			</div>
		</div>
	</div>
    <!-- FACEBOOK SECTION -->
	<div class="content_fb_search hidden" style="text-align:center;">
	 Non disponible pour le moment.
	</div>
    </ion-content>
</ion-modal-view>