
/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu.ttf);
}
@font-face {
    font-family: 'Ubuntu-B';
    src: url(../fonts/UbuntuMono-B.ttf);
    font-weight: bold;
}

p{
	font-family: 'Ubuntu',sans-serif;
}

a{
	text-decoration: none;
}

.login-seco, .register_inscr{
	margin-top:20%;
	text-align:center;
}

.chevron_style{
	margin -top: 2px;
  background-color: inherit;
  border: none;
  color: white;
  width: 20px;
  height: 20px;
  z-index: 1000000;

}

.id-mdp-seco{
	padding:15px;
}
.item{
	border-radius:5px;
	margin-bottom:10px;
}

.select_pic_field{
	font-size:14px;
	text-align:center;
}

.field_form{
	background-color:#F1F2F6;
	width:100%;
	margin-top:5%;
		padding-top:5%;
	padding-bottom:5%;
}
.main_app{
	padding-top:5%;
	padding-bottom:5%;
}

.select_pic_container_field{
	padding-top:10px;
}

.cam_size{
	font-size: 150px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.upload_size{
	font-size: 30px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.register_logo_container{
	position:relative;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	border-top: 1px solid #28385c;
	padding-top:15px;
}

.homepage_logo{
	width: 50%;
	margin-top:20px;
	margin-right: 25%;
	margin-left: 25%;
	margin-bottom: 30px;
}
.homepage_logo_container{
	border-bottom: 1px solid #28385c;
	margin-left: 5%;
	margin-right: 5%;
}
.homepage_title{
	text-align: center;
	margin-top: 20px;
}
.homepage_title h1{
	font-weight: 100;
	color: #28385c;

}

p{
	color:grey;
}
.field_input{
	width:90%;
	margin-left:5%;
	margin-right:5%;
}

.test{
	width:100%;
}

.logo_wf{
	position: absolute;
  right: 10px;
  top:10px;
  width: 45px;
}
.logo{
	width:150px;
	display: block;
	margin-left: auto; 
	margin-right: auto; 
}

.login-mdpo{
	text-align:right;
}

.register_title h1{
	width:100%;
	margin-top:5%;
	font-size:24px;
	font-weight: 100;
	color: #28385c;
	text-align:center;
}
.homepage_button{
	width: 90%;
	height: 60px;
	margin-left: 5%;
	margin-right: 5%;
	color:#fff;
	font-weight: bold;
	border-radius: 5px;
	font-size: 17px;
	background-color:#273A59;
}
.homepage_connect{
	background-color: #006ddf;
}
.homepage_fb{
	background-color: #3b5998;
}
.homepage_register{
	margin-top: 50px;
	border: 1px solid #006ddf;
	color: #006ddf;
}
.actu_header{
	background-color: #28385c;
}
.actu_button{
	color:#fff;
}
#actu_title{
	color: #fff;
	font-size: 26px;
	font-weight: 300
}
.img_container{
	margin-top:50px;
	border-radius: 20px;
	width: 130px;
	margin-left: auto;
	margin-right: auto;
}
.img_container img{
	border-radius: 50%;
	width: 130px;
}
.main_actu{
	background: #ffffff url("../img/bg_img.jpg") no-repeat center center;
	background-size: cover;
}
.actu_name{
	color: #fff;
	position: relative;
	bottom: 20px;
	font-size: 20px;
	text-align: center;
}
.tab_bottom{
	position: absolute;
	bottom: 10px;
}
.tabs .tab-item .icon.accueilActive {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_accueil_bleu.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.foots {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_mes_foots_gris.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.amis {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_amis_gris.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.chats {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_chats_gris.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.notif {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_notifications_gris.svg');
  	background-size:contain;
}
.tabs{
	background-color: #fff;
}
.tab-title{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 8px;
}
.tab-item{
	padding: 5px 0px;
}
.actu_logo{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	right: 20px;
}
.err_container{
	text-align: center;
	font-weight: bold;
	color: #cd0000;
}
.img_menu_bg{
	width: 100%;
	height: 200px;
	background: url('../img/default_pic.jpg') no-repeat center;
	background-size: cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.img_menu{
	position: relative;
	bottom: 160px;
	width: 120px;
	border-radius: 50%;
	margin-left: 70px;
}
.content_menu{
	background-color: #28385c;
}
.info_menu{
	position: relative;
	bottom: 90px;
	font-size: 17px;
	font-weight: bold;
	padding: 10px 0px;
	margin: 0px 20px;
	border-top: 1px solid #6D86BF;
}
.info_menu p{
	color: #ffffff;
}
@media screen and (max-width: 568px) { /* IPHONE 5- */
	.img_menu_bg{
		height: 170px;
	}
	.img_menu{
	 	bottom: 140px;
	}
}

