
/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu.ttf);
}
@font-face {
    font-family: 'Ubuntu-B';
    src: url(../fonts/UbuntuMono-B.ttf);
    font-weight: bold;
}

p{
	font-family: 'Ubuntu',sans-serif;
}

a{
	text-decoration: none;
}
::-webkit-input-placeholder {
    font-family: 'Ubuntu';
}
:-moz-placeholder {
   font-family: 'Ubuntu';
}
::-moz-placeholder {
  font-family: 'Ubuntu';
}
:-ms-input-placeholder {
   font-family: 'Ubuntu';
}

.login-seco, .register_inscr{
	margin-top:20%;
	text-align:center;
}

.chevron_style{
	margin-top: 2px;
  background-color: inherit;
  border: none;
  color: white;
  width: 20px;
  height: 20px;
  z-index: 1000000;

}

.id-mdp-seco{
	padding:15px;
}
.item{
	border-radius:5px;
	margin-bottom:10px;
}

.select_pic_field{
	padding-top:5%;
	font-size:14px;
	text-align:center;
}

.field_form{
	background-color:#F1F2F6;
	width:100%;
	margin-top:5%;
		padding-top:5%;
	padding-bottom:5%;
}
.main_app{
	padding-top:5%;
	padding-bottom:5%;
}

.cam_size{
	font-size: 90px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.register_logo_container{
	position:relative;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	border-top: 1px solid #28385c;
	padding-top:15px;
}

.homepage_logo{
	width: 50%;
	margin-top:20px;
	margin-right: 25%;
	margin-left: 25%;
	margin-bottom: 30px;
}
.homepage_logo_container{
	border-bottom: 1px solid #28385c;
	margin-left: 5%;
	margin-right: 5%;
}
.homepage_title{
	text-align: center;
	margin-top: 20px;
}
.homepage_title h1{
	font-weight: 100;
	color: #28385c;

}

p{
	color:grey;
}
.field_input{
	width:90%;
	margin-left:5%;
	margin-right:5%;
}

.test{
	width:100%;
}

.logo_wf{
	position: absolute;
  right: 10px;
  top:10px;
  width: 45px;
}
.logo{
	width:150px;
	display: block;
	margin-left: auto; 
	margin-right: auto; 
}

.login-mdpo{
	text-align:right;
}

.register_title h1{
	width:100%;
	margin-top:5%;
	font-size:24px;
	font-weight: 100;
	color: #28385c;
	text-align:center;
}
.homepage_button{
	width: 90%;
	height: 60px;
	margin-left: 5%;
	margin-right: 5%;
	color:#fff;
	font-weight: bold;
	border-radius: 5px;
	font-size: 17px;
	background-color:#273A59;
}
.homepage_connect{
	background-color: #006ddf;
}
.homepage_fb{
	background-color: #3b5998;
}
.homepage_register{
	margin-top: 50px;
	border: 1px solid #006ddf;
	color: #006ddf;
}
.actu_header{
	background-color: #28385c;
}
.actu_button{
	color:#fff;
}
.actu_button:hover{
	color: #fff;
}
#actu_title{
	color: #fff;
	font-size: 26px;
	font-weight: 300
}
.img_container{
	margin-top:50px;
	border-radius: 20px;
	width: 130px;
	margin-left: auto;
	margin-right: auto;
}
.img_container img{
	border-radius: 50%;
	width: 130px;
}
.main_actu{
	background: #ffffff url("../img/bg_img.jpg") no-repeat center center;
	background-size: cover;
}
.actu_name{
	color: #fff;
	position: relative;
	bottom: 20px;
	font-size: 20px;
	text-align: center;
}
.tab_bottom{
	position: absolute;
	bottom: 10px;
}
.tabs .tab-item .icon.accueil {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_accueil_gris.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.accueilB {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_accueil_bleu.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.foots {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_mes_foots_gris.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.footsB {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_mes_foots_bleu.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.amis {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_amis_gris.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.amisB {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_amis_bleu.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.chats {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_chats_gris.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.chatsB {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_chats_bleu.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.notif {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_notifications_gris.svg');
  	background-size:contain;
}
.tabs .tab-item .icon.notifB {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 65%;
	background-image: url('../img/nav_notifications_bleu.svg');
  	background-size:contain;
}
.tabs{
	background-color: #fff;
}
.tab-title{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 8px;
}
.tab-item{
	padding: 5px 0px;
}
.actu_logo{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	right: -20px;
}
.err_container{
	text-align: center;
	font-weight: bold;
	color: #cd0000;
}
.img_menu_bg{
	width: 100%;
	height: 200px;
	background: url('../img/default_pic.jpg') no-repeat center;
	background-size: cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.img_menu{
	position: relative;
	bottom: 160px;
	width: 120px;
	border-radius: 50%;
	margin-left: 70px;
}
.content_menu{
	background-color: #28385c;
}
.info_menu{
	position: relative;
	bottom: 90px;
	font-size: 18px;
	font-weight: bold;
	padding-top: 12px;
	margin: 0px 20px;
	border-top: 1px solid #516082;
}
.info_menu p{
	color: #ffffff;
}
.info_menu i{
	font-size: 18px;
	float: right;
}
.info_last{
	border-bottom: 1px solid #516082;
}
.note_menu{
	position: relative;
  	bottom: 70px;
  	margin-top: 5px;
}
.icon_menu {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 25px;
  	background-size:contain;
  	width: 70px;
  	display: inline-block;
}
.icon-shoes {
	background-image: url('../img/nav_mes_foots_noir.svg');
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}
.icon-tech{
	background-image: url('../img/ball69.svg');
}
.icon-power{
	background-image: url('../img/dumbbell20.svg');
}
.icon-fp{
	background-image: url('../img/thumbs28.svg');
}
.icon-assidu{
	background-image: url('../img/clock46.svg');
}
.note_menu p{
	display: inline;
	color: #ffffff;
	position: relative;
	right: 8px;
	bottom:5px;
	font-size: 18px;
}
.note_menu i{
	position: relative;
	font-size: 20px;
	margin: 0px 2px;
	float: right;
	right: 17px;
	top:5px;
	color: #006DDF;
}
.logout_menu{
	position: relative;
	bottom:10px;
}
.icon-logout{
		background-image: url('../img/shut-down2.svg');
		height: 20px;
}
.logout_menu p{
	display: inline-block;
	font-size: 17px;
	color: #006dff;
	position: relative;
	bottom: 3px;
	right: 15px;
	font-weight: bold;
}
.no_hide{
	display: inline-block !important;
}
.text_chat{
    font-size: 36px;
    font-family: "Ubuntu";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-align: center; 
    margin-left: 15%;
    width: 50%;
    margin-top: 5px;
}
.chat_content{
    width: 100%;
    padding-top: 44px;
}
.chat_box{
    background-color: rgb( 242, 243, 249 );
    height: 70px;
}
.chat_box_content{
    width: 80%;
    margin-left: 10%;
    height: 100%;
    border-bottom:1px solid #e4e4e4;
}
.img_chat{
    width: 60px;  
    display: inline-block;
}
.img_chat img{
	border-radius: 50%;
	width: 50px;
    margin-top: 10px;
}
.chat_box_title{
    font-size: 8px;
    font-family: "Ubuntu";
    color: rgb( 78, 78, 78 );
    font-weight: bold;
    text-align: left;
    display: inline-block;
    margin-top: 15px;
    position: absolute;
    margin-bottom: 0px;
}
.chat_box_time{
    font-size: 8px;
    font-family: "Ubuntu";
    color: rgb( 78, 78, 78 );
    font-weight: bold;
    text-align: right;
    display: inline-block;
    margin-top: 15px;
    position: absolute;
    margin-bottom: 0px;
    margin-left: 50%;
}
.chat_box_preview{
    font-size: 8px;
    font-family: "Ubuntu";
    color: rgb( 78, 78, 78 );
    text-align: left;
    display: inline-block;
    margin-top: 35px;
    position: absolute;
    margin-bottom: 0px;
    line-height: 1.273;
    width: 60%;
}
.container_friends{
	margin-top: 40px;
	height: 100%;
}
.list{
	border:none;
}
.container_list_friends{
	background-color: rgb( 242, 243, 249 );
	height: 100%;
}
.scroll{
	height: 100%;
}
.one_friends{
	margin: 0px 20px;
    border-bottom: 1px solid #DBDAE3;
    height: 65px
}
.name_friends{
	display: inline-block;
}
.name_friends p{
	position: relative;
	bottom: 15px;
	margin-left: 5px;
	font-size: 17px;
	color: #28385c;
}
.img_friends img{
	width: 48px;
}
.star_friends{
	display: inline-block;
	background-color: #ffffff;
	border-radius: 50%;
	float: right;
	height: 40px;
	width: 40px;
	margin-top: 14px;
	padding-left: 7px;
	padding-top: 3px;
}
.star_friends i{
	color: #fffc00;
	font-size: 32px;
}
.grey i{
	color: #919191;
}
.iconHeader {
 	background-repeat: no-repeat;
  	background-position: 50%;
	height: 25px;
	margin-top: 5px;
  	background-size:contain;
  	width: 70px;
  	display: inline-block;
}
.icon_friend{
	background-image: url('../img/icon_bonhomme_carnet.svg');
}
.icon_none{
	background: none;
}
@media screen and (max-width: 400px) { /* ANDROID */
	.logout_menu{
		position: relative;
		bottom:20px;
	}
}
@media screen and (max-width: 320px) { /* IPHONE 5- */
	.img_menu_bg{
		height: 170px;
	}
	.img_menu{
	 	bottom: 140px;
	}
	.info_menu{
		font-size: 16px;
	}
	.icon_menu{
		height: 20px;
	}
	.info_menu i{
		font-size: 15px;
	}
	.note_menu p{
		font-size: 16px;
	}
	.note_menu i{
		font-size: 18px;
		right: 17px;
		top: 0px;
	}
	.logout_menu{
		position: relative;
		bottom:40px;
	}
	.icon-logout{
		height: 15px;
	}
	.logout_menu p{
		font-size: 15px;
		bottom: 2px;
	}
	.star_friends{
		float: right;
		height: 35px;
		width: 35px;
		margin-top: 18px;
		padding-left: 5px;
		padding-top: 1px;
	}
}